@charset "utf-8";

.title{
  margin-top: 40px;
  margin-left: 40px;
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

li{
  display: inline;
  font-weight: bold;
}
ul{
  color: blue;
  text-align: right;
}

.absolute{
  position: absolute;
}
.first_view{
  width: 100px;
  height: 100px;

}
.relative{
  position: relative;
}

.firstview_img{
  margin-left: auto;
  padding-top: 100px;
  display:block;
}

.box-wrapper{
  position: absolute;
  margin-bottom: 20px;
}

.firstview_content-ttl{
  font-size: 50px;
  margin: top 20px 20px 0px ;
}

.blue-box{
  width: 1000px;
  height: 50px;
  background-color: blue;
}









.boxsizing{
  width: 600px;
  height: 100px;
  background-color: blue;
}






