@charset "utf-8";

p{
  text-align: left;
}
  
.title{
  margin-top: 80px;
  margin-left: 40px;
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

li{
  display: inline;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
  padding-right: 30px;
}
ul{
  color: blue;
  text-align: right;
}

.absolute{
  position: absolute;
}
.firstview_img{
  width: 50%;
  height: 30%;
}

.firstview_img{
  z-index: 1;
  position: relative;
  margin-left: auto;
  padding-top: 50px;
  margin-right: 30px;
  display:block;
}

.box-wrapper{
    position: absolute;
  left: 20px;
  right: 50px;
  bottom: 80px;
  width: 30%;
  height: auto;

}

.firstview_content-ttl{
  font-size: 50px;
  margin: top 0px ;
}

.blue-box{
  width: 1000px;
  height: 150px;
  background-color: blue;
}









.boxsizing{
  width: 600px;
  height: 100px;
  background-color: blue;
}






